
.sprite {
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    display: block;
}


.sprite-github {
    width: 30px;
    height: 30px;
    background-position: -5px -5px;
}

.sprite-gmail {
    width: 30px;
    height: 30px;
    background-position: -45px -5px;
}

.sprite-icon-endereco {
    width: 30px;
    height: 30px;
    background-position: -5px -45px;
}

.sprite-icon_telefone {
    width: 30px;
    height: 30px;
    background-position: -45px -45px;
}

.sprite-linkedin {
    width: 30px;
    height: 30px;
    background-position: -85px -5px;
}

.sprite-stackoverflow {
    width: 30px;
    height: 30px;
    background-position: -85px -45px;
}

.sprite-tumblr {
    width: 30px;
    height: 30px;
    background-position: -5px -85px;
}

.sprite-twitter {
    width: 30px;
    height: 30px;
    background-position: -45px -85px;
}


